{% extends 'base.html' %}
{% block title %} Substances Index {% endblock %}
{% block header %} Substances Index {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-8 offset-1">
            <h3>Systems</h3>
        </div>
        <div class="col-2">
            <label for="listsrc" hidden=""></label>
            <input id="listsrc" placeholder="Search keywords..." class="form-control pull-right" data-search-override="true" type="text"/>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="accordion" id="sysaccordion">
                {% for char, syslist in syss.items %}
                    <div class="accordion-item sections">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}" data-sort="{{ char }}">
                            <button class="accordion-button bg-light p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                <strong>{{ char }} ({{ syslist|length }} Keywords)</strong>
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse{% if forloop.counter == 1 %} show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#sysaccordion">
                            <div class="accordion-body list-group listgrp-flush p-0">
                                {% for sys, idlist in syslist.items %}
                                    <a href="/keywords/view/{{ sys }}" class="list-group-item list-group-item-small item" data-content="{{ sys|lower }}">{{ sys }} ({{ idlist|length }} file{% if idlist|length > 1 %}s{% endif %})</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
