<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<h3>References by Year</h3>
	</div>
	<div class="col-md-2" style="margin-top: 20px;">
		<input id="listsrc" placeholder="Search references" class="form-control pull-right" data-search-override="true" type="text"/>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default sections" style="margin: 0;">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-sort="" href="#collapse" style="cursor: pointer;padding: 5px 15px;">
					<p style="margin: 0;font-weight: bold;"></p>
				</div>
				<div id="collapse" class="panel-collapse collapse">
					<div class="list-group">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ refs }}
