<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">

                </h2>
            </div>
            <div class="panel-body" style="font-size: 16px;">
                <ul>
                    <li>
                        {{ ref.title }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Data</h2>
            </div>
            <div class="list-group">
                {{ sets }}

				<a href="/datasets/view/{{ 'temp' }}" class="list-group-item list-group-item-small">{{ 'temp' }}</a>"
			</div>
        </div>
    </div>
</div>
